<div id="locked_email_modal" class='hidden modals'>
  <div id="user_locked_email_modal_close" class="close-icon">
  </div>
  <h2><%= t('user.email_locked_modal_title')%></h2>
  <p class="forms_text"><%= t('user.email_locked_modal_message')%></p>
    </div>

