<div id="not_refundable_modal" class='hidden modals'>
  <div id="not_refundable_modal_close" class="close-icon">
  </div>
  <h2>Refund Not Available</h2>Your book cannot be refunded because of one or more of the following reasons.
  <br><br>
  <p class="forms_text">
  1. Too much of your book has been viewed.<br>
  2. It has been more than 14 days from the purchase date.<br>
  3. Your online resource code has been redeemed.<br>
  4. Your book has previously been refunded.<br>
  </p>
  <p>If you are still unsure of Vitalsource's refund policy, contact <a href="https://support.vitalsource.com" target="_blank">Vitalsource Support.</a></p>
</div>

