<footer id="footer" role="contentinfo">
	<span>&copy; 2000-2015 Vitalsource Technologies</span>
    <span><a href="https://support.vitalsource.com/hc/en-us/articles/201646123" target="_blank"><%= t("footer.privacy") %></a></span>
    <span><a href="https://support.vitalsource.com/hc/en-us/articles/204612518" target="_blank"><%= t("footer.tou") %></a></span>
    <span><a href="https://support.vitalsource.com/hc/en-us" target="_blank"><%= t("footer.faq") %></a></span>
 </footer>
<div id="bottom"><a href="#" title="Back to Top"><%= image_tag "back_to_top.svg", alt: "Back to Top", height: '39', width: '39' %></a></div>