<div class="user-profile-menu-responsive">
	<select>
  		<option value="volvo"><%= t('user.menu_title') %></option>
  		<option value="saab"><%= t('user.reader_settings')%></option>
  		<option value="mercedes"><%= t('user.content')%></option>
	</select>
</div>