    <div class="form-header">
      <h1 class="form-header-heading main"><%=t('devices.page_title')%></h1>
    </div>
    <% if @branded_config[:devices][:devices] %>
      <%= render :partial => "settings/form/devices" %>
    <% end %>
    <%= render :partial => "settings/modals/deactivate" %>
