<style>

.hidden {
  display: none;
  visibility: hidden;
}
.shown {
  display: block;
visibility: visible;
}
#security_question_close{
  padding-left:430px;
}

.content {
  padding: 50px 50px 0 50px;
}

@media screen and (max-width: 900px) {
  .content {
    padding-left: 15px;
  }
}
@media screen and (max-width: 800px) {
  .content {
    padding: 0 5px !important;
  }
}
@media screen and (max-width: 645px) {
  .content {
    /*padding-left: 0 !important;*/
  }
}
@media screen and (max-width: 525px) {
  .content {
    /*padding-left: 0 !important;*/
    width: 100%;
  }
}

</style>

    <div class="form-header">
      <h1 class="form-header-heading main"><%=t('devices.page_title')%></h1>
    </div>
    <% if @branded_config[:devices][:devices] %>
      <%= render :partial => "settings/form/devices" %>
    <% end %>
    <%= render :partial => "settings/modals/deactivate" %>
