<li class="<%= active_name('transactions') %>">
  <%= link_to(
    raw("<div class='text transactions-icon'><div class='page-name'>#{t("transactions.menu_title")}</div></div>"),transactions_path)
  %>
</li>
