// COLORS!!!!!!
$transparentghost : rgba(213, 213, 226, 0.94);
$darkghost        : #cacad9; // rgb(202, 202, 217)
$ghost            : #d5d5e2; // rgb(213, 213, 226)
$lightghost       : #e3e3f0; // rgb(227, 227, 240)
$lighterghost     : #f1f1fa; // rgb(241, 241, 250)
$lightestghost    : #f4f4f4;
$darkerghost      : #bbbbcc; // rgb(187, 187, 204)
$ocean            : #007fad; // rgb(0, 127, 173)
$lightocean       : #00a7db; // rgb(0, 167, 219)
$darkocean        : #00749e; // rgb(0, 116, 158)
$pomegranate      : #f54250; // rgb(245, 66, 80)
$lightpomegranate : #f8606c; // rgb(248, 96, 108)
$darkpomegranate  : #cc313d; // rgb(204, 49, 61)
$cheddar          : #eb710b; // rgb(235, 113, 11)
$lightcheddar     : #eb710b; // rgb(245, 137, 41)
$lightercheddar   : #ffa758; // rgb(255, 167, 88)
$lightestcheddar  : #ffcc9f; // rgb(255, 204, 159)
$darkcheddar      : #ca5600; // rgb(202, 86, 0)
$storm            : #8080a1; // rgb(128, 128, 161)
$darkstorm        : #747492; // rgb(116, 116, 150)
$lightninja       : #4f4f5f; // rgb(79, 79, 95)
$ninja            : #40404c; // rgb(64, 64, 76)
$darkninja        : #2f2f39; // rgb(47, 47, 57)
$darkerninja      : #1b1b26; // rgb(27, 27, 38)
$pigeon           : #9999be; // rgb(153, 153, 190)
$darkpigeon       : #686898; // rgb(104, 104, 152)
$elephant         : #757588; // rgb(117, 117, 136);
$darkelephant     : #606074; // rgb(96, 96, 116)
$marine           : #00749e; // rgb(5, 129, 173)
$slate            : #434343; // rgb(69, 69, 69)
$black            : #000000;
$white            : #FFFFFF;
$cloud            : #ECECEC;
$lightcloud       : #F6F6F6;
$darkcloud        : #DADADA;
