<section id="content-box3">
	<div class="fl-text">
		<h2><%= t('user.password.title')%></h2>
    	<!--<p class="forms_text"><%= t('user.password.sub_title')%></p>-->
    </div>
    <div class="fr-button">
    	<button type="button" class="button_secondary" id="user_change_password"><%= t('buttons.change_password')%></button>
    </div>
</section>