<section id="content-box3">
	<div class="fl-text">
	<h2><%= t('user.security.title') %></h2>
	<!--text commented acct-152 for now<p class="forms_text"><%= t('user.security.sub_title') %></p>-->
	 </div>
	<div class="fr-button">
     <button type="button" id="user_edit_security" class="button_secondary"><%= t('buttons.edit') %></button>
     </div>
</section>
 